# Binaries
abif
test_abif
src/abi2fq
tests/test_abif
bin/
tests/test_abi2fq

# Output files
trace.fa
trace.fq
*.fa
*.fq

# Nim cache
nimcache/

# Test artifacts
tests/output*.fq
tests/output*.fa

# Mac extravaganzas
.DS_Store
r/
paper
tests/modified_new.ab1
tests/modified_new.ab1
